body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20rem;
    margin-right: 20rem;
}

h1 {
    color: #6c584c;
    background-color: #dde5b6;
    text-align: center;
}

button[type="reset"] {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1rem;
    width: 5rem;
    height: 2rem;
    background-color: #a8dadc;
    font-weight: bold;
}

button[type="submit"] {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1rem;
    width: 5rem;
    height: 2rem;
    background-color: #a8dadc;
    font-weight: bold;
}