<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css" href="https://fonts.googleapis.com/css?family=Tangerine">

        <title>Facts</title>
    </head>

    <body>
        <h1>Facts of the World</h1>
        <h2>Did you know? </h2>
        <p id="fact"><%- fact %>.</p>

        <br/>
        <p>Make an account to generate more facts</p>
        <a href="/register">Make an account</a>
        <br/></br/>
        <p>If you already made an account enter your email to generate some facts</p>
        <a href="/generate">Enter email</a>

    </body>
</html>