<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">

        <title>Facts</title>
    </head>

    <body>
        <h1>Facts of the World</h1>
        <h2></h2>
        
    </body>
</html>